cryptography==39.0.1
pytest==7.2.1
web3==6.17.2
py-solc-x==2.0.3
eth-tester
py-evm
# gmpy2==2.1.5
# use pre-release for to_bytes/from_bytes
git+https://github.com/aleaxit/gmpy#56475a07ed8e326db43664c30aa896779a2afc5b
